.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Jost, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  margin-right: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.container {
  position: static;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.hero-subheading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Jost, sans-serif;
  color: #273240;
  font-size: 30px;
  line-height: 150%;
  font-weight: 400;
  text-transform: none;
}

.hero-subheading.article {
  margin-bottom: 20px;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-light {
  opacity: 0.6;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  margin-right: 50px;
  margin-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section.cc-contact {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.section.article {
  min-height: 60vh;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f9fbfd;
}

.section.article.white {
  background-color: transparent;
}

.section.page-hero {
  min-height: 50vh;
}

.section.main-hero {
  min-height: 75vh;
}

.button {
  overflow: visible;
  min-width: 150px;
  margin-right: 0px;
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.humanizing-machine-learning {
  background-color: #65b9cb;
}

.button.designing-for-healthcare {
  background-color: #0b0270;
}

.button.getting-started-with-ux-design {
  background-color: #796eff;
}

.button.learning-from-past-success {
  background-color: #163ebd;
}

.button.regenerative-medicine {
  background-color: #c84959;
}

.button.the-magic-of-motion-in-ux-prototyping {
  background-color: #dd5842;
}

.button.healthcare-s-big-data-problem {
  background-color: #2cbbaa;
}

.button.healthcare-s-trillion-dollar-problem {
  background-color: #55009f;
}

.button.genetic-testing {
  background-color: #ca3b78;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
  color: #273240;
}

.navigation-item {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.6;
  font-family: Jost, sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 1;
  font-family: Jost, sans-serif;
  color: #1a1b1f;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9fbfd;
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.3);
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-heading {
  margin-bottom: 40px;
  font-family: 'Playfair Display', sans-serif;
  color: #040fdb;
  font-size: 270px;
  line-height: 100%;
  font-style: italic;
  font-weight: 900;
  text-align: left;
}

.hero-heading._404 {
  text-align: center;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact {
  padding-top: 80px;
  padding-bottom: 90px;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.social-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.social-logos.centered {
  display: none;
}

.main-logo {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Jost, sans-serif;
  color: #273240;
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
}

.main-logo.w--current {
  color: #1a1b1f;
}

.grid {
  max-width: 1320px;
  margin-bottom: 100px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  cursor: pointer;
}

.grid.bookshelf {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.image {
  width: 100vw;
}

.image.article {
  width: 100vw;
}

.social-logo {
  opacity: 0.5;
}

.social-logo:hover {
  opacity: 1;
}

.dynamic-card {
  border: 1px none #000;
  border-radius: 0px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  cursor: default;
}

.text-block {
  color: #fff;
}

.card-div-block {
  overflow: hidden;
  margin-right: 0px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.06);
}

.card-div-block.article {
  cursor: pointer;
}

.card-highlight {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 75%;
  height: 100%;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.15;
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.heading {
  font-family: Jost, sans-serif;
  font-size: 54px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
}

.heading.article {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 120%;
  font-weight: 600;
  text-align: left;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: 50px;
  margin-left: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column.white {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.column-2 {
  position: relative;
  display: block;
  padding-right: 40px;
  padding-left: 40px;
  clear: none;
}

@media screen and (max-width: 991px) {
  .hero-subheading {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .hero-subheading.article {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
  }
  .section {
    min-height: 80vh;
  }
  .section.cc-contact {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section.article {
    min-height: 30vh;
    margin-right: 0px;
    margin-left: 0px;
  }
  .section.page-hero {
    min-height: 30vh;
  }
  .section.main-hero {
    min-height: 50vh;
  }
  .button {
    min-width: 130px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
  }
  .menu-icon {
    display: block;
  }
  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .navigation-items {
    background-color: #f9fbfd;
  }
  .navigation {
    padding: 25px 30px;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .hero-heading {
    margin-bottom: 20px;
    font-size: 180px;
  }
  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }
  .contact-headline {
    width: 100%;
  }
  .contact-form-wrap {
    width: 100%;
  }
  .social-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .social-logos.centered {
    display: none;
  }
  .main-logo {
    font-size: 40px;
  }
  .grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .grid.bookshelf {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .image {
    width: 100vw;
  }
  .heading {
    font-size: 40px;
  }
  .heading.article {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .column-2 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hero-subheading {
    margin-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 20px;
  }
  .hero-subheading.article {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  .section {
    min-height: 40vh;
    margin-right: 40px;
    margin-left: 40px;
  }
  .section.cc-contact {
    padding: 15px;
  }
  .section.article {
    padding: 80px 50px;
  }
  .section.main-hero {
    min-height: 50vh;
  }
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    font-size: 20px;
    line-height: 28px;
  }
  .button.humanizing-machine-learning {
    margin-right: 0px;
  }
  .button.designing-for-healthcare {
    margin-right: 0px;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .navigation {
    padding: 20px 30px;
  }
  .hero-heading {
    margin-bottom: 10px;
    font-size: 140px;
  }
  .text-field.cc-textarea {
    text-align: left;
  }
  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }
  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template-areas: "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-form-wrap {
    text-align: left;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .webflow-link {
    margin-bottom: 15px;
  }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .utility-page-wrap {
    padding: 15px;
  }
  ._404-wrap {
    padding: 30px;
  }
  .social-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .social-logos.centered {
    display: none;
  }
  .main-logo {
    font-size: 30px;
  }
  .grid {
    width: 100%;
    grid-auto-flow: row;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid.bookshelf {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .image {
    width: 100vw;
  }
  .heading {
    font-size: 34px;
  }
  .heading.article {
    margin-top: 30px;
    font-size: 28px;
    text-align: center;
  }
  .columns {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .column {
    padding-right: 0px;
  }
  .column.white {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .hero-subheading {
    margin-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
    text-align: center;
  }
  .hero-subheading.article {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
  }
  .section {
    min-height: 30vh;
    margin-right: 20px;
    margin-left: 20px;
  }
  .section.article {
    padding: 50px 20px;
  }
  .section.main-hero {
    min-height: 50vh;
  }
  .button {
    font-size: 16px;
    line-height: 20px;
  }
  .button.humanizing-machine-learning {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .hero-heading {
    margin-bottom: 10px;
    font-size: 100px;
    text-align: center;
  }
  .contact {
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .social-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .social-logos.centered {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .social-logos.left-aligned {
    display: none;
  }
  .main-logo {
    font-size: 20px;
  }
  .grid.bookshelf {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .social-logo {
    margin-right: 20px;
    margin-left: 0px;
  }
  .social-logo.centered {
    margin-right: 12px;
    margin-left: 12px;
  }
  .card-highlight {
    display: none;
  }
  .heading {
    font-size: 24px;
  }
  .heading.article {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 24px;
    text-align: center;
  }
  .column-2 {
    padding-right: 0px;
  }
}

